<!DOCTYPE html>
<html>
  <head>
    <title>Splurge</title>
    <meta name="description" content="Splurge">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Splurge
      </h1>
    </header>

    <main>
      <button is="google-cast-button" onclick='cast()'>Cast</button>
    </main>

    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
